body {
    padding: 0;
    margin: 0;
    margin-left: 42%;
    margin-top: 17%;
    background-color: #202020;
}

.hello {
    font-size: 80px;
    color:white
}

.desc {
    font-size: 25px ;
    color: white;
}

nav {
    background-color: #333533;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

nav a {
    color: white; 
    text-decoration: none; 
    margin: 10px 0; 
    font-size: 18px; 
}

nav a:hover {
    color: #d4d4d4; 
    text-decoration: underline; 
}


header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

header nav a.active,
header nav a:hover {
    background-color: #ff7043;
}
